.btn-save{
    border: solid 1px #597CE9;
    color: #597CE9;
    background-color: #F9FAFE;
}

.col-middle{
    width: 50%;
    padding-left: 2rem;
}

.text-noti{
    font-size: 0.9rem;
    padding-bottom: 5%;
}