<!--Login Page Starts-->
<section id="login">
  <div class="login-container">
    <div class="m-0 login-img-container col-lg-6 col-12 row justify-content-center" >
      <div class="col login-img align-self-center">
        <img class="login-img-position" [src]="walletImageUrl">
      </div>
    </div>
    <div  style="display: contents;">
      <div class="col col-lg-6 login-content">
        <div class="col login-img align-self-center" style="padding: 1rem 1rem 5rem 1rem;;">
          <img [src]="titleUrl">
        </div>
        <ngb-alert type="light-danger" class="" *ngIf="isLoginFailed" (close)="isLoginFailed = false">
          <p class="">Login failed!</p>
        </ngb-alert>
        <!-- <form [formGroup]="loginForm">
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" placeholder="Username"
              [ngClass]="{ 'is-invalid': loginFormSubmitted && invalidLogin, 'is-valid': loginFormSubmitted && !invalidLogin }"
              required>
            <div *ngIf="loginFormSubmitted && (lf.username.invalid || lf.username.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
              required</div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
              [ngClass]="{ 'is-invalid': loginFormSubmitted && invalidLogin, 'is-valid': loginFormSubmitted && !invalidLogin }"
              required>
            <div *ngIf="loginFormSubmitted && (lf.password.invalid || lf.password.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is required
            </div>
          </div> 

          <div class="btn-holder">
            <a  class="login-button" (click)="onSubmit()">Login</a>
          </div>
          <div class="d-sm-flex justify-content-between  font-small-2">
            <div class="checkbox auth-checkbox">
              <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
              <label for="rememberMe"><span class="font-small-2  font-weight-normal">Remember Me</span></label>
            </div>
            <a href="javascript:;">Forgot Password?</a>
          </div>
          <div class="d-sm-flex justify-content-center  font-small-2 mt-3">
              <p>Not a member yet? <a class="text-warning" routerLink="../register">Register here</a></p> 
          </div>
        </form> -->
        <div>
          <ngx-spinner></ngx-spinner>
          <div class="login-options">
            <h4 class="login-option-text">Connect your wallet</h4>
            <a class="metamask-option">
              <div><img [src]="'assets/img/external-icons/metamaskLogo.svg'" (click)="connectMetamask()"></div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
